fastapi
uvicorn[standard]
sqlalchemy[asyncio]
#aiomysql  (for quick testing if needed)
alembic
pydantic-settings
python-dotenv
langgraph
langchain
langchain-community
langchain-openai
greenlet
chromadb 
pypdf
openai
asyncpg